body {
	margin:0px;
}
#ImageHeader img{
	width: 100%;
	height:600px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	margin:0;
	padding:0;
	z-index: -1;
}
#ImageHeader{
	margin:0;
	padding: 0;
	width: 100%;
	height: 600px;
	position: relative;
}
#Logo {
	font-size: 30px;
	position: absolute;
	top:0px;
	left: 30px;
	color: #006666;
}
#Menu {
	position: absolute;
	top: 0px;
	right: 20px;
	cursor: pointer;
	width: 30px;
}
#Menu a{
	text-decoration: none;
	color: white;

}
#Menu a:hover {
	background-color: black;    /*ko chay*/
}
#Sdt {
	position: absolute;
	float:right;		 /*ko chay*/
	top: 0px;
	right: 55px;
	margin-top:0px;
}
#Main{
	position: relative;
	text-align: center;
	background-color:
}